@import "mixins.scss";

html, body{
    @include flex-row;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    color: rgb(255, 160, 7);
}

#app{
    @include flex-row;
    height: 100%;
    width: 100%;
}

main{
    @include flex-row;
    height: 100%;
    width: 100%;
}

#clicker{
    @include flex-column;
    width: 40%;
    height: 100%;
    gap: 15%;
    background-image: url("./assets/background.png");
    background-size: cover;

    @include responsive(smartphone-portrait){
        width: 100%;
    }

    @include responsive(smartphone-landscape){
        width: 100%;
    }
}

.text{
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 4em;
    padding: 20px;
    text-align: center;
}

.pps{
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 2em;
    text-align: center;
}

#bloon-button{
    background-color: transparent;
    border: none;
    transition: 0.3s ease all;

    img{
        width: 100%;
        cursor: pointer;
    }

    &:hover{
        scale: 1.1;
    }
}

#boosts{
    @include flex-row;
    gap: 10px;
}

.boost{
    width: 50px;

    @include responsive(tablet){
        width: 45px;
    }
}

.shop-area{
    @include flex-column;
    width: 30%;
    height: 100%;
    background-color: rgb(152, 85, 23);
    border-left: ridge 10px rgb(101, 60, 22);
    border-right: ridge 10px rgb(101, 60, 22);
    font-size: 1.4em;

    @include responsive(smartphone-portrait){
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        border: none;
    }

    @include responsive(smartphone-landscape){
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        border: none;
    }
}

.shop-name{
    @include flex-row;
    width: 100%;
    height: 20%;
    border-bottom: 10px ridge rgb(101, 60, 22);

    @include responsive(tablet){
        font-size: 0.5em;
    }

    @include responsive(laptop){
        font-size: 0.85em;
    }
}

.shop{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.upgrades{
    @include flex-row;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 10px ridge rgb(101, 60, 22);
    font-family: 'Luckiest Guy', sans-serif;
    gap: 40px;
    background-image: url(./assets/wood-texture.jpg);
    background-size: 50%;
    text-align: center;

    @include responsive(tablet){
        font-size: 0.7em;
        gap: 20px;
    }

    &:nth-child(2n){
        background-position: 20px;
    }

    img{
        width: 50px;

        @include responsive(tablet){
            width: 40px;
        }
    }

    article{
        @include flex-column;
        gap: 10px;
        font-size: 0.85em;

        .cost{
            @include flex-row;
            gap: 10px;
        }

        &:nth-child(2n - 1){
            width: 23%;

            @include responsive(tablet){
                width: 30%;
            }

            @include responsive(laptop){
                width: 30%;
            }
        }

        &:nth-child(2n){
            width: 54%;

            @include responsive(tablet){
                width: 40%;
            }

            @include responsive(laptop){
                width: 30%;
            }
        }

        &:last-child img{
            width: 20px;
        }
    }

    button{
        @include button;

        &:hover{
            scale: 1.05;
            cursor: pointer;
        }

        @include responsive(tablet){
            padding-left: 5px;
            padding-right: 5px;
            font-size: 0.8em;
        }
    }
}

#slide-button-left, #slide-button-right{
    display: none;
    position: absolute;
    top: 50%;

    button{
        @include button;
    }

    @include responsive(smartphone-portrait){
        display: block;
    }

    @include responsive(smartphone-landscape){
        display: block;
    }
}

#slide-button-left{
    left: 2%;
}

#slide-button-right{
    right: 2%;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(239, 217, 130);
    border-left: 3px solid rgb(80,60,8);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(122, 90, 8);
    border: 3px solid rgb(80,60,8);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(109, 80, 8);
}